{{#if resume.work.length}}
<section id="experience">
	<h2>Experience</h2>
	{{#each resume.work}}
	<div class="item">
		{{#if position}}
		<h3 class="position">
			{{position}}
		</h3>
		{{/if}}
		<h5 class="date">
			{{#if startDate}}
			<span class="startDate">
				{{startDate}}
			</span>
			{{/if}}
			<span>-</span>
			{{#if endDate}}
			<span class="endDate">
				{{endDate}}
			</span>
			{{else}}
			<span class="endDate">
				present
			</span>
			{{/if}}
		</h5>
		{{#if company}}
		<h5 class="company">
			{{#if url}}
			<a href={{url}}>
				{{/if}}
				{{company}}
				{{#if url}}
			</a>
			{{/if}}
		</h5>
		{{/if}}
		{{#if summary}}
		<p class="summary">{{summary}}</p>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}