{{#if resume.volunteer.length}}
<section id="volunteer">
	<h2>{{pickLang "Volunteer" "Volontariato"}}</h2>
	{{#group resume.volunteer by="position"}}
		<div class="type">
			<h3 class="position">
				{{value}}
			</h3>
			{{#each items}}
			<div class="item">
				{{#if startDate}}
				<h5 class="date">
					<span class="startDate">
						{{startDate}}
					</span>
					<span>-</span>
					{{#if endDate}}
					<span class="endDate">
						{{endDate}}
					</span>
					{{else}}
					<span class="endDate">
						{{pickLang "present" "presente"}}
					</span>
					{{/if}}
				</h5>
				{{/if}}
				{{#if organization}}
				<h5 class="company">
					{{#if url}}
						<a href={{url}}>
					{{/if}}
						{{organization}}
					{{#if url}}
						</a>
					{{/if}}
				</h5>
				{{/if}}
				{{#if summary}}
				<p class="summary">{{summary}}</p>
				{{/if}}
			</div>
			{{/each}}
		</div>
	{{/group}}
</section>
{{/if}}